/* 
╔═════════════════════╗
║  * Hidden Discord * ║
╚═════════════════════╝
*/

/* Background */
.layers__1c917,
.base__3e6af,
.theme-dark,
.theme-light {
  background: none !important;
}

/* 
╔═════════════════════╗
║  * Style  Discord * ║
╚═════════════════════╝
*/
/* Background */
#app-mount {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, var(--opacity-amount));
  filter: blur(var(--blur-amount));
}
