/*
╔═════════════════════════╗
║      Style Discord      ║
╚═════════════════════════╝
*/



/* Animation */
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}

@keyframes jump {
  0% {transform: translateY(0);}
  50% {transform: translateY(-5px);}
  100% {transform: translateY(0);}
}

@keyframes float {
  0%, 100%  { transform: rotateZ(2deg); }
  50%  { transform: rotateZ(-2deg); }
}

@keyframes RainbowBorder {
  0%, 100%  { border-color: red; }
  14%  { border-color: orange; }
  28%  { border-color: yellow; }
  42%  { border-color: green; }
  57%  { border-color: cyan; }
  71%  { border-color: blue; }
  85%  { border-color: violet; }
}
@keyframes RainbowShadow {
  0%, 100%  { box-shadow: 0 0 6px 2px red; }
  14%  { box-shadow: 0 0 6px 2px orange; }
  28%  { box-shadow: 0 0 6px 2px yellow; }
  42%  { box-shadow: 0 0 6px 2px green; }
  57%  { box-shadow: 0 0 6px 2px cyan; }
  71%  { box-shadow: 0 0 6px 2px blue; }
  85%  { box-shadow: 0 0 6px 2px violet; }
}



/* |--Background Picture--| */
#app-mount::after{
  content: "";
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  background: var(--background-image) center/cover no-repeat fixed;
  opacity: var(--opacity);
  z-index: 101;
  pointer-events: none;
}



/* |--Background Filter--| */
/* Friend Page */
nav.wrapper_ef3116,
.scroller__99e7c,
.peopleColumn__133bf,
aside.container__7d20c,

/* Server Page */
.scroller__629e4,
.container_c8ffbb,
.content__99f8c,

/* Setting Page */
nav.sidebar__23e6b,
.contentRegionScroller__23e6b,

/* Shop Page */
.shop__08415,

/* Chat */
main.chatContent_f75fb0,
.members_c8ffbb,
.none_d125d2,
.footer__7f9c0,

/* Other */
.bar_c38106
{
  background: var(--Color);
}
[class^="chatGradientBase__"]
{
  display: none;
}



/* |--User area--| */
[class^="panels_"],
[class^="panel__"] {
  background: transparent;
  z-index: 102;
  backdrop-filter: blur(20px);
}
[class^="panels_"]:hover {
  animation: 
  RainbowBorder calc(var(--animations-enabled) * 15s) linear infinite
  ,RainbowShadow calc(var(--animations-enabled) * 15s) linear infinite;
  
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

[class^="avatarWrapper__"]:hover{
  animation: float calc(var(--animations-enabled) * 2s) linear infinite ;
}

/* Micro */
[class^="buttons__"] > div:nth-of-type(1) > button:hover {
  animation: jump calc(var(--animations-enabled) * 0.8s) linear infinite;
  transition: transform 0.1s ease, box-shadow 0.1s ease, filter 0.1s ease;
}

/* HeadSet Button */
[class^="buttons__"] > button:nth-of-type(1):hover {
  animation: swing calc(var(--animations-enabled) * 0.3s) ease-in-out infinite;
  transition: transform 0.1s ease, box-shadow 0.1s ease, filter 0.1s ease;
}

/* Setting Button */
[class^="buttons__"] > button:nth-of-type(2):hover {
  animation: spin calc(var(--animations-enabled) * 1s) linear infinite;
  transition: transform 0.1s ease, box-shadow 0.1s ease, filter 0.1s ease;
}



/* |--Chat--| */
/*Back Content*/
[class^="messagesWrapper__"] {
  z-index: 102;
  backdrop-filter: blur(var(--blur));
}
/* User mention menu */
[class^="autocomplete__"] {
  z-index: 102;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(var(--blur));
}

/* Send Bar */
  [class^="form_"] {
  margin-top: 1px;
}

[class^="scrollableContainer__"]:focus-within {
  border-width: 2px;
  border-style: solid;
  animation: RainbowBorder calc(var(--animations-enabled) * 15s) linear infinite;
}
[class^="textArea__"] {
  animation:  2s ease-in-out infinite;
}



/* |--Menu PopUp--|*/
/*Camera Menu*/
.root__49fc1, .footer__49fc1, 

/*Ping menu*/
.container__50387,

/*Voice Details*/
[class^="contentWrapper__"],

/*Noise PopUp*/
[class^="noiseCancellationPopout_"],

/*Sound Box*/
[class^="picker__"] {
  background: transparent;
  backdrop-filter: blur(15px);
}



/* |--Other--| */
/* ShearchBar Effect */
[class^="searchBar__"]:focus-within {
  border-width: 2px;
  border-style: solid;
  animation: RainbowBorder calc(var(--animations-enabled) * 15s) linear infinite;
}

/* Texte Visibility */
.container_e45859 a{
  color: rgb(255, 255, 255);
}

/*Border*/
[class^="border__"] {
  border: solid var(--Color2) 3px;
  border-radius: 8px;
}
