/*
╔═════════════════════════╗
║      Style Discord      ║
╚═════════════════════════╝
*/

/* Background */
#app-mount::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-image) center/cover no-repeat fixed;
  opacity: var(--opacity-amount);
  z-index: 1000;
}

/* En Cours */
.itemsContainer_ef3116 { /*server nav*/
  background: red;
}

div[data-jump-section="global"] { /*friend bar*/
  background: orangered;
}

section[aria-label="Zone utilisateur"] { /*bloc user*/
  transition: transform 0.3s ease, opacity 0.3s ease;
}
section[aria-label="Zone utilisateur"]:hover {
  transform: translateY(-10px);
  opacity: 0.9;
}

.online-tab {
  background: yellow;
}


main.container__133bf {
  background: greenyellow !important;
}
aside.container__7d20c {
  background: rgb(77, 11, 77) !important;
}

span {
  background: lightsalmon;
}