/*
╭───────── Zen Discord ─────────╮
│  Version: V1.0                │
│  Author : AMGT2302            │
│  GitHub : github.com/AMGT2302 │
╰───────────────────────────────╯
*/
@import url("https://amgt2302.github.io/Zen-Discord/Import.css");

:root {
  --background-image: url("https://images.pexels.com/photos/1473215/pexels-photo-1473215.jpeg");
  --opacity-amount: 0.3;
  --blur-amount: 0px;
}