/*
╭───────── Zen Discord ─────────╮
│  Version: V1.0                │
│  Author : AMGT2302            │
│  GitHub : github.com/AMGT2302 │
╰───────────────────────────────╯
*/
@import url("https://amgt2302.github.io/Zen-Discord/Import.css");

:root {
  --background-image: url("https://amgt2302.github.io/Zen-Discord/asset/Default.jpg");
  --opacity: 0.25;
  --blur: 5px;
  --Color: rgba(0, 0, 0, 1);

  --animations-enabled: 1; /* 1 = ON, 0 = OFF */
}